@media(max-width: 1010px){
    .pation-profile .profile .tabs-list li{
        width: 31.9%;
    }
}
@media(max-width: 991px){
    .header .info ul li{
        display: block;
        margin-bottom: 20px;
    }
    .header .info ul li.dropdown{
        margin-left: 0px;
    }
}
@media(max-width: 767px){
    .header .main{
        text-align: center;
    }
    .header .info ul li .dropdown-menu{
        right: auto;
    }
    .about-us .image{
        margin-top: 20px;
    }
    .new-subject .subject .sub1{
        margin: 0 auto 30px;
        width: 95%
    }
    .new-subject .subject .sub2{
        margin-bottom: 30px;
    }
    .new-subject .subject .sub3{
        margin-bottom: 30px;
    }
    .new-subject .subject .sub4{
        margin-bottom: 30px;
    }
    .new-subject .subject .sub5{
        margin-bottom: 30px;
    }
    .new-subject .subject .new1{
        width: 88%;
        left: 40px;
    }
    .new-subject .subject .new2{
        width: 90%;
        left: 0;
        right: 0;
    }
    .new-subject .subject .new3{
        width: 90%;
        left: 30px;
    }
    .new-subject .subject .new4{
        width: 90%;
        left: 0;
        right: 0;
    }
    .new-subject .subject .new5{
        width: 90%;
        left: 0;
        right: 0;
    }
    .partners .part{
        margin-bottom: 20px;
    }
    .partners .info{
        bottom: 30px;
        width: 90%
    }
    .contact .main{
        text-align: center!important;
        float: none!important;
    }
    .contact .info{
        text-align: center!important;
        float: none!important;
    }
    .contact .info form{
        margin-bottom: 30px;
    }
    .contact .info form input{
        width: 80%;
        padding: 10px 27%;
    }
    .contact .footer h2{
        font-size: 20px;
    }
}
@media(max-width: 575px){
    .header .main{
        margin-bottom: 30px;
    }
    .header .info button{
        margin-bottom: 10px;
    }
    .header .info ul li{
        margin-bottom: 10px;
    }
    .header .info ul li .dropdown-menu{
        bottom: auto;
        right: auto;
    }
    .about-us .about p{
    font-size: 18px;
    margin-bottom: 10px;
    }
    .about-us .about ul li{
    font-size: 15px;
    }
    .new-subject .subject .new1{
        width: 80%;
        left: 40px;
    }
    .partners .info{
        left: 0;
        right: 0;
        width: 88%
    }
    .contact .info form input{
        width: 100%;
        padding: 10px 20px;
        margin-bottom: 20px;
    }
}
@media(max-width: 400px){
    .doctor-step{
    margin-bottom: -105px;
}
}
@media(max-width: 350px){
    .contact .footer h2{
        font-size: 10px;
    }
    .pation-profile .profile .tabs-list li{
        width: 100%;
        margin-bottom: 5px;
    }
}
@media(max-width: 991px){
    
}